bin/
obj/
.vs/
.vscode/
*.cache
Maple2.Data/bin/
Maple2.Sql/bin/
Maple2Storage/bin/
MaplePacketLib2/bin/
MapleServer2/bin/
Maple2.Data/obj/
Maple2.Sql/obj/
Maple2Storage/obj/
MaplePacketLib2/obj/
MapleServer2/obj/
MapleServer2/Properties/
Maple2Storage/Resources/
GameDataParser/Resources/
*.m2d
*.m2h
