bin/
obj/
.vs/
.vscode/
.idea/
.omnisharp/
*.cache
GameDataParser/Resources
GameDataParser/Properties
MapleServer2/Properties
Maple2Storage/Resources
Ms2Database/Migrations
workspace.code-workspace
.env

