<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XML_PATH" value="GameDataParser/Resources/Xml.m2d"/>
    <add key="EXPORTED_PATH" value="GameDataParser/Resources/Exported.m2d"/>
    <add key="OUTPUT" value="Maple2Storage/Resources/"/>
  </appSettings>
</configuration>