<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XML_PATH" value="../../../Files/m2dFiles/Xml.m2d"/>
    <add key="EXPORTED_PATH" value="../../../Files/m2dFiles/Exported.m2d"/>
    <add key="OUTPUT" value="../../../../Maple2Storage/Resources/"/>
  </appSettings>
</configuration>